.main{
    height: 100vh;
    width: 100vw;

}
header{
    background-color: darkolivegreen;
}

.profile{
    width: 170;
    height: 250px;
    overflow: hidden;
}
img{
    width: 200px;
    height: 180px;
  
}
.title{
    text-align: center;
    font-weight: bold;
    color: black;
    display: inline-block;
}
.bg{
    background-color: black;
}

.card{
    display: flex;
    flex-direction: row;
    row-gap: 50px;
    column-gap: 20px;
}
.cardmain{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    column-gap: 20px;
}